In [12]:
# Dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [17]:
# Create a DataFrame
city_crime_rates_df = pd.read_csv("/Users/SmDai/documents/Sean's Documents/NU Group Project 1/crime_250_plus.csv")
city_crime_rates_df

,states,cities,population,total_crime,murder,rape,robbery,agrv_assault,tot_violent_crime,burglary,larceny,vehicle_theft,tot_prop_crim,arson
0,Alabama,Mobile3,"248,431",6217.02,20.13,58.16,177.11,485.85,740.25,"1,216.84","3,730.21",506.78,"5,453.83",22.94
1,Alaska,Anchorage,"296,188",6640.04,9.12,132.01,262.67,799.49,"1,203.29",748.17,"3,619.66","1,047.98","5,415.82",20.93
2,Arizona,Chandler,"249,355",2589.08,2.01,52.13,56.95,148.38,259.47,314.41,"1,866.01",149.18,"2,329.61",NaN
3,Arizona,Gilbert,"242,090",1483.75,2.07,16.11,21.07,46.26,85.51,192.49,"1,137.59",55.76,"1,385.85",12.39
4,Arizona,Glendale,"249,273",5037.85,4.81,38.91,192.96,251.53,488.22,637.45,"3,426.36",466.56,"4,530.37",19.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Virginia,Virginia Beach,"454,353",2083.40,3.08,22.45,59.87,52.16,137.56,165.95,"1,667.65",101.02,"1,934.62",11.22
96,Washington,Seattle,"721,365",5911.99,3.74,36.87,210.02,382.05,632.69,"1,081.98","3,673.45",503.21,"5,258.64",20.66
97,Washington,Spokane,"217,066",7881.01,2.76,109.64,105.50,408.63,626.54,"1,023.19","5,408.03",800.22,"7,231.44",23.03
98,Wisconsin,Madison,"255,850",3040.46,4.30,37.13,82.86,250.15,374.44,362.32,"2,130.94",168.85,"2,662.11",3.91
99,Wisconsin,Milwaukee,"595,168",5441.99,19.83,72.92,490.45,"1,014.17","1,597.36",927.13,"1,940.29",924.61,"3,792.04",52.59

In [21]:
# filter cities to the 10 chosen for the project
filtered_cities_crime= city_crime_rates_df[city_crime_rates_df['cities'].isin(['Atlanta', 'Austin', 'Chicago', 'Denver', 'Los Angeles', 'Nashville', 'New York', 'San Diego', 'Tampa', 'Boston'])]
filtered_cities_crime

,states,cities,population,total_crime,murder,rape,robbery,agrv_assault,tot_violent_crime,burglary,larceny,vehicle_theft,tot_prop_crim,arson
16,California,Los Angeles,"3,898,747",3332.52,7.01,61.27,269.87,423.17,761.31,415.96,"1,640.99",478.97,"2,535.92",35.29
21,California,San Diego,"1,386,932",2220.67,2.46,39.25,99.01,225.89,366.61,268.03,"1,214.37",360.57,"1,842.97",11.09
29,Colorado,Denver,"706,616",4360.93,8.35,98.92,174.35,393.99,675.61,612.92,"2,267.29",786.85,"3,667.06",18.26
36,Florida,Tampa,"384,360",2218.24,10.15,31.48,105.63,317.15,464.41,321.31,"1,274.85",147.52,"1,743.68",10.15
37,Georgia,Atlanta,"481,343",5727.52,16.41,58.59,293.55,567.16,935.72,704.28,"3,387.19",684.96,"4,776.43",15.37
41,Illinois,Chicago,"2,746,388",4381.65,18.26,65.11,439.26,570.36,"1,098.86",477.13,"2,358.83",427.84,"3,263.80",18.99
51,Massachusetts,Boston,"682,903",2758.22,8.35,42.47,205.59,412.80,669.20,308.83,"1,603.74",176.45,"2,089.02",NaN
66,New York,New York,"8,804,190",1987.49,3.39,27.56,162.42,345.52,538.90,128.87,"1,253.15",66.56,"1,448.59",NaN
80,Tennessee,Nashville,"674,942",4966.50,16.30,72.90,303.14,745.84,"1,138.17",631.31,"2,806.61",380.03,"3,817.96",10.37
82,Texas,Austin,"971,949",3612.23,2.57,85.81,101.55,224.91,414.84,450.64,"2,525.03",213.90,"3,189.57",7.82